//@import "node_modules/semantic/dist/semantic";
$mainColor: #1aad19;
//基础样式 :start
.relative {
  position: relative !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pull-left {
  float: left !important;;
}

.pull-right {
  float: right !important;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

body {
  background-color: #FFFFFF;
  padding-top: 74px !important;
  font-family: Georgia, Times New Roman, Times, Songti SC, serif !important;
}

a, div, p, span, li, h1, h2, h3, h4, h5 {
  word-break: break-all;
  font-family: Georgia, Times New Roman, Times, Songti SC, serif !important;
}

.margin-l20 {
  margin-left: 20px !important;
}

.margin-r20 {
  margin-right: 20px !important;
}

.margin-t20 {
  margin-top: 20px !important;
}

.margin-b20 {
  margin-bottom: 20px !important;
}
.margin-t10 {
  margin-top: 10px !important;
}
.paddingT30 {
  padding-top: 30px !important;
}

.clearfix {
  clear: both;
}

//base样式 :end
.navbar-top {
  box-shadow: 0 0 1px #999 !important;
  background-color: #fff !important;
  height:50px;
  position: relative;
}

.navbar-top a {
  color: #353535;
}

.navbar-top .logo {
  color: $mainColor;
  position: absolute;
  top:20px;
  left:-145px;
}
.navbar-top .ten{
  padding:12px 0 0 0 !important;
}
.navbar-top .navbar-item{
  line-height:52px;
  font-size:20px;
  padding:0 20px;
  margin-left:35px;
}
.navbar-top .navbar-item:hover{
  color:#353535;
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.navbar-top .register-buttons {
  padding-top: 21px;
  margin-left: 100px !important;
}

.navbar-top .register-buttons a {
  display: inline-block;
  height: 36px;
}

.navbar-top .search-input {
  width: 300px;
  background-color: #f2f2f2 !important;
}

.navbar-top .search-input:focus {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.navbar-top .write-button {
  display: inline-block !important;
  float: right;
  margin-right: -84px !important;
}

.navbar-top .search-wrap {
  margin-left: 100px !important;
  padding-top: 3px;
}

.navbar-top .container {
  position: relative;
}

.navbar-top .user-operation {
  position: absolute;
  top:15px;
  right: 40px;
}

.navbar-top .user-operation > div {
  line-height: 50px;
  padding: 0 20px;
}

.navbar-top .user-operation > div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-top .logout {
  width: 100%;
}

.navbar-top a.item {
  font-size: 20px;
}

.navbar-top.ui.secondary.menu .item {
  border-radius: 0;
}

.navbar-top .tip-number {
  position: absolute;
  top: 3px;
  right: -5px;
  border-radius: 50%;
  display: inline-block;
  padding: 0 7px;
  line-height: 20px;
  color: #fff;
  background-color: $mainColor;
}

.navbar-top .item-tip-number {
  border-radius: 50%;
  display: inline-block;
  padding: 0 7px;
  line-height: 20px;
  color: #fff;
  background-color: $mainColor;
  margin-left: 20px;
}

.navbar-top .head-img {
  position: relative;
  width: 30px !important;
  height: 30px !important;
  top: 10px;
}

.u-index {
  padding: 0 0 0 35px !important;
}